.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  user-select: none;
  background-color: rgb(44, 121, 134);

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    .who-watch {
      .users-container {
        .user {
          flex-direction: column;
          width: 14%;
          .user-name {
            text-transform: capitalize;
          }
          img {
            width: 100%;
            &:hover {
              opacity: 70%;
            }
          }
          cursor: pointer;
          margin: 1rem;
        }
      }
    }
  }
}
