.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  user-select: none;
  background-color: rgb(44, 121, 134);
  user-select: none;

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    .main-container {
      .who-watch {
        .users-container {
          align-items: flex-start;
          flex-wrap: wrap;
          .user-child {
            padding: 0.5rem;
          }
          .user {
            flex-direction: column;
            .user-name {
              text-transform: capitalize;
            }
            img {
              height: 10rem;
              width: 10rem;
              border: 2px dashed #fbb13b7a;
              padding: 0.5rem;
              border-radius: 50%;
              cursor: pointer;

              &:hover {
                border: 2px dashed #fbb03b;
              }
            }
          }
          .add-user-container {
            border: 2px dashed #fbb13b7a;
            border-radius: 50%;
            padding: 0.5rem;
            cursor: pointer;
            .add-user-btn {
              cursor: pointer;
              border-radius: 50%;
              height: 10rem;
              width: 10rem;
              border: none;
              background-color: #fce3c3;
              outline: none;

              i {
                color: #fbb03b;
                font-size: 5rem;
              }
            }
            &:hover {
              border: 2px dashed #fbb03b;
            }
          }
        }

        .modal-container {
          .modal {
            width: 200px;
            height: 200px;
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
            padding: 10px;
            margin: 0 auto;
            .close-modal-btn {
              font-size: 25px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
