.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  user-select: none;
  background-color: rgb(44, 121, 134);

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    .main-container {
      .who-watch {
        .users-container {
          .user {
            flex-direction: column;
            width: 14%;
            .user-name {
              text-transform: capitalize;
            }
            img {
              width: 100%;
              padding: 8px;
              border: 2px dashed #fbb13b81;
              border-radius: 50%;
              &:hover {
                border: 4px dashed #ffc400;
                // opacity: 70%;
              }
            }
            cursor: pointer;
            margin: 1rem;
          }
        }
        .modal-container {
          // background-color: rgba(34, 34, 34, 0.39);
          // height: 100vh;
          // width: 100vh;
          .modal {
            width: 200px;
            height: 200px;
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
            padding: 10px;
            margin: 0 auto;
            .close-modal-btn {
              font-size: 25px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
